.schedule-head {
    background: #2d2752;
    color: #ffffff;
    border-right: 1px solid #2d2752;
}
.schedule-body {
    border: 1px solid #2d2752;
}
strong {
    color: #2d2752;
}
.highlighted {
    color: #fa473e;
}