<form #registrationForm="ngForm" (ngSubmit)="register()">
<div class="row">
  <div class="col-xl-4 col-sm-7 mx-auto">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input 
        type="text" 
        id="firstname"
        name="firstname"
        class="form-control"
        [(ngModel)]="userModel.firstname"
        required
        #firstname="ngModel"
        pattern="^[A-Z]+[A-Za-z]*$" 
        >
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
          First name must start with a capital letter and must contain only letters.
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input 
        type="text" 
        id="lastname"
        name="lastname"
        class="form-control"
        [(ngModel)]="userModel.lastname"
        required
        #lastname="ngModel"
        pattern="^[A-Z]+[A-Za-z]*$"   
        >
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
            Last name must start with a capital letter and must contain only letters.
          </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          pattern="^.{3,30}"
          class="form-control"
          [(ngModel)]="userModel.password"
          required
          #password="ngModel"
          >
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              Password must be atleast 3 symbols.
          </div>
      </div>
      <div class="form-group">
        <label for="confirmedPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmedPassword"
          name="confirmedPassword"
          class="form-control"
          [(ngModel)]="userModel.confirmedPassword"
          required
          #confirmedPassword="ngModel"
          >
          <div [hidden]="password.value === confirmedPassword.value || confirmedPassword.pristine" class="alert alert-danger">
            Both passwords should match
          </div>
      </div>
      
      <div class="form-group">
          <input
            type="checkbox"
            id="isTeacher"
            name="isTeacher"
            class="tgl tgl-flip"
            [(ngModel)]="userModel.isTeacher"
            #isTeacher="ngModel"
            >
            <label for="isTeacher" class="tgl-btn" data-tg-off="Student" data-tg-on="Teacher"></label>
        </div>
  </div>
  <div class="col-xl-4 col-sm-7 mx-auto">
          <div class="form-group">
              <label for="email">Email</label>
              <input 
              type="email" 
              id="email"
              name="email"
              class="form-control"
              [(ngModel)]="userModel.email"
              required
              #email="ngModel"
              email
              >
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                  <span>Please provide a valid email</span>
                </div>
            </div>
      <div class="form-group">
          <label for="personalId">Personal Id</label>
          <input
            type="text"
            id="personalId"
            pattern="^\d{10}$"
            name="personal_id"
            class="form-control"
            [(ngModel)]="userModel.personal_id"
            required
            #personal_id="ngModel"
            >
            <div [hidden]="personal_id.valid || personal_id.pristine" class="alert alert-danger">
              Please enter valid Id (Length: 10 symbols)
            </div>
      </div>
      <div class="form-group">
            <label for="student_class">Student Grade</label>
            <input
              type="number"
              id="studentClass"
              name="student_class"
              class="form-control"
              pattern="^([5-9]|[10-12]{2,})$"
              [(ngModel)]="userModel.student_class"
              required
              #student_class="ngModel"
              >
              <div [hidden]="student_class.valid || student_class.pristine" class="alert alert-danger">
                Please enter valid grade (5-12)
              </div>
      </div>
      <div class="form-group">
              <label for="schoolName">School Name</label>
              <input
                type="text"
                id="schoolName"
                name="school_name"
                class="form-control"
                pattern="^[A-Z]+[A-Z0-9a-z ]*$"
                [(ngModel)]="userModel.school_name"
                required
                #school_name="ngModel"
                >
                <div [hidden]="school_name.valid || school_name.pristine" class="alert alert-danger">
                  Please enter valid school name
                </div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary signup-btn" [disabled]="registrationForm.invalid"  type="submit">Register</button>
          </div>
  </div>
</div>
</form>

