<nav class="navbar navbar-expand-md navbar-dark bg-light">
  <div class="container-left-nav hidden-xs hidden-sm">
    <!-- This checkbox will give us the toggle behavior, it will be hidden, but functional -->
    <input id="toggle" type="checkbox">

    <!-- IMPORTANT: Any element that we want to modify when the checkbox state changes go here, being "sibling" of the checkbox element -->

    <!-- This label is tied to the checkbox, and it will contain the toggle "buttons" -->
    <label class="toggle-container" for="toggle">
      <!-- If menu is open, it will be the "X" icon, otherwise just a clickable area behind the hamburger menu icon -->
      <span class="button button-toggle"></span>
    </label>

    <!-- nav menu -->
    <nav class="nav">
      <span *ngIf="authService._isAuthenticated()" class="nav-item">Hi {{authService._userNameHelper()}}!</span>
      <a class="nav-item" *ngIf="authService._isAuthenticated()" (click)="authService.logout()">Logout</a>
      <a class="nav-item" *ngIf="!authService._isAuthenticated()" routerLink="/user/login">Login</a>
      <a class="nav-item" *ngIf="!authService._isAuthenticated()" routerLink="/user/register">Register</a>
      <a class="nav-item" *ngIf="authService._isAuthenticated() && authService._userRoleHelper() === 'Student'" routerLink="/student/courses/all/{{authService._userIdHelper()}}">My
        courses
      </a>
      <a class="nav-item" *ngIf="authService._isAuthenticated() && authService._userRoleHelper() === 'Student'" routerLink="/student/courses/all/{{authService._userIdHelper()}}">Weekly
        Schedule
      </a>

      <!-- <a routerLink="/student/courses/all/{{studentId}}">My courses</a>
      <br/>
      <a routerLink="/student/courses/schedule/{{studentId}}">Weekly Schedule</a> -->
    </nav>
    <img class="navbar-brand logo" src="../../assets/logo.png"/> 
  </div>
</nav>